<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Visualizza evento | Eventus</title>
        <!-- Mobile compatibility -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <!-- Boostrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" integrity="sha256-BicZsQAhkGHIoR//IB2amPN5SrRb3fHB8tFsnqRAwnk=" crossorigin="anonymous">
    </head>

    <body>

        <!-- Navbar -->
        <div th:replace="~{fragment/navbar :: navbar}"></div>

        <!-- Content -->
        <div class="container-lg my-2">

            <!-- Alert when you cannot participate or not participate -->
            <div th:replace="~{fragment/error_visualizer :: error_fragment}"></div>

            <div class="row">

                <!-- Left side: info about the event -->
                <div class="col-12 col-lg-6 mb-2">
                    <!-- Title -->
                    <h1 class="mb-1"><span th:text="${event.name}"></span></h1>
                    <!-- Creator -->
                    <h5 class="mb-1 text-muted">Creato da: <span th:text="${event.creatorUsername}"></span></h5>
                    <!-- Description -->
                    <p class="fs-5 my-2"><span th:text="${event.description}"></span></p>
                    <!-- Start date -->
                    <h6 class="mb-1 text-muted">Inizio: <span th:text="${#temporals.format(event.start, 'd/M/yyyy H:mm')}"></span></h6>
                    <!-- End date -->
                    <h6 class="text-muted">Fine: <span th:text="${#temporals.format(event.end, 'd/M/yyyy H:mm')}"></span></h6>
                    <!-- Actions -->
                    <div class="d-flex flex-wrap my-2">
                        <!-- Subscribe button -->
                        <form th:action="@{/event/{id}/subscribe(id=${event.id})}" method="post" th:if="${event.canSubscribe}">
                            <input type="hidden" id="event-id-sub" name="eventId" th:value="${event.id}">
                            <input class="btn btn-success me-2 mb-2" type="submit" value="Iscriviti">
                        </form>
                        <!-- Do not subscribe button -->
                        <form th:action="@{/event/{id}/unsubscribe(id=${event.id})}" method="post" th:if="${event.canUnsubscribe}">
                            <input type="hidden" id="event-id-unsub" name="eventId" th:value="${event.id}">
                            <input class="btn btn-danger me-2 mb-2" type="submit" value="Disiscriviti">
                        </form>
                        <!-- Rate button -->
                        <button class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#rateModal" th:if="${event.canRate}">Valuta evento</button>
                    </div>
                </div>

                <!-- Right side: Subscriptions and ratings -->
                <div class="col-12 col-lg-6">
                    <!-- Participant list -->
                    <h5>Partecipanti</h5>
                    <ul class="list-group" th:each="subscriptionDto : ${event.holdings}"
                        th:insert="~{fragment/event_subscription :: eventSubscription}">
                    </ul>
                </div>

            </div>

        </div>

        <!-- Rating modal -->
        <form th:action="@{/event/{id}/rate(id=${event.id})}" method="post">
            <div class="modal fade" id="rateModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Valuta l'evento</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="mx-0 ms-0 mb-2 p-0">Una volta valutato l'evento, la valutazione non potr&#224; essere modificata</h6>
                            <label class="form-label" for="rate-stars">Stelle</label>
                            <input class="form-control mb-2" type="number" min="1" max="5" id="rate-stars" name="stars" placeholder="Stelle" required>
                            <label class="form-label" for="rate-comment">Commento (massimo 2048 caratteri)</label>
                            <textarea class="form-control mb-2" id="rate-comment" name="comment" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            <input type="submit" class="btn btn-primary" value="Valuta">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Boostrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha256-WeLjw8JYAtNUcyjqluHrkVYN1fpL7TtakwRhaRgUx8s=" crossorigin="anonymous"></script>
    </body>

</html>