<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!--/*@thymesVar id="user" type="io.github.xnovo3000.eventus.bean.dto.output.UserDto"*/-->
    <!--/*@thymesVar id="authorities" type="java.util.List<String>"*/-->
    <form th:fragment="edit_authorities" th:action="@{/user/{id}/update_authorities(id=${user.id})}" method="post">
        <div class="modal fade" th:id="'editAuthoritiesModal' + ${user.id}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Modifica le autorizzazioni di <span th:text="${user.username}"></span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input class="form-check-input" type="checkbox" id="event-manager" name="eventManager" th:checked="${user.authorities.contains('EVENT_MANAGER')}">
                        <label for="event-manager">Gestione eventi</label><br>
                        <input class="form-check-input" type="checkbox" id="user-manager" name="userManager" th:checked="${user.authorities.contains('USER_MANAGER')}">
                        <label for="user-manager">Gestione utenti (fai attenzione a fornire questo permesso)</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                        <input type="submit" class="btn btn-primary" value="Modifica">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Used only for testing -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" integrity="sha256-BicZsQAhkGHIoR//IB2amPN5SrRb3fHB8tFsnqRAwnk=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha256-WeLjw8JYAtNUcyjqluHrkVYN1fpL7TtakwRhaRgUx8s=" crossorigin="anonymous"></script>

</html>